.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc
*.db
.env
ai_research/dane/
ai_research/notebooks/
ai_research/model/
**/*.csv
ai_research/training_results/
**/checkpoint-*
.git/
train_model.py
README.md